@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Exito Reseteo";
}

<div style="font-family: 'Montserrat';margin: auto; width: 60%; margin-top: 5rem;">
    <div style="background: #98a088;height: 0.5rem;"></div>
    <div style="background-color: #F6F6F6;font-family: 'Montserrat';text-align: justify; padding: 2rem; height: 30rem;">
        <div style="margin: auto;margin-top: 2rem; width: 40%;text-align: center;">
            <img src="http://apps.firco.gob.mx/icons/puc/change-password.png" width="55%" />
        </div>
        <div style="text-align: center;">
            <h1 style="color: green;">¡EXITO! SU CONTRASEÑA SE HA RESETEADO</h1>

        </div>
        <div class="alert alert-info" role="alert">
            CONSULTE SU CORREO ELECTRÓNICO PARA VERIFICAR LA CONTRASEÑA
        </div>
        <div>
            <a class="btn btn-warning" style="width: 80%" asp-action="Login" asp-controller="Home">INICIAR SESIÓN</a>
        </div>
    </div>
    <div style="background: #98a088;width: 100%;height: 0.5rem;"></div>
</div>