@{
    ViewData["Title"] = "Principal";
}

<div class="container-fluid">
    <div class="row m-3 text-center">
        <div class="col">
            <a class="btn btn-dark" asp-controller="Home" asp-action="Login">INICIAR SESIÓN</a>
        </div>
        <div class="col">
            <a class="btn btn-warning" asp-controller="Directorio" asp-action="DirectorioFIRCO">DIRECTORIO</a>
        </div>
    </div>
    <div class="row m-2">
        @* Slider *@
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="http://apps.firco.gob.mx/icons/puc/slider/caratula.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="http://apps.firco.gob.mx/icons/puc/slider/Formato-digital.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="http://apps.firco.gob.mx/icons/puc/slider/Login-puc.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

